<%# Expects 'rooms', an array of Rooms. %>
<h4>Rooms</h4>
<ul>
  <% rooms.each do |room_name, room| %>
    <li><a href="/rooms/<%= room_name %>"><%= room_name %></a></li>
  <% end %>
</ul>
<form id="newRoom">
  <span>Create new room:</span><input></input>
</form>
