<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport"
          content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <title>Scrumcard</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <script src="/js/jquery-1.7.min.js"></script>
    <script src="/js/jquery.json-2.2.min.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/room.js"></script>
    <script src="/js/util.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
      });
    </script>
  </head>
  <body>
    <div id="header">
      <div id="login">
        <% if current_user %>
          <span class="loginName"><%= current_user %></span>
          <span class="logout"><a href="/login">logout</a></span>
        <% end %>
      </div>
      <h2>ScrumCard</h2>
    </div>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
