<%# Expects:
  room_name
  room - a Room.
  choices - an array of possible valid votes
%>
<div id="roomHeader" class="section">
  <span id="backLink"><a href="/">home</a></span>
  <span id="roomName"><%= room_name %></span>
  <span id="reset"><a href="#">reset</a></span>
</div>
<div id="choicesSection" class="section">
  <h4>your vote</h4>
  <div id="choices">
    <select>
      <% choices.each do |choice| %>
        <option><%= choice %></option>
      <% end %>
    </select>
  </div>
</div>
<div id="currentVotes" class="section">
  <h4>current votes</h4>
  <div id="votes">
    <span class="metaText">loading&hellip;</span>
  </div>
</div>
<div id="voteHistory" class="section">
  <h4>previous result</h4>
  <div id="result">
    <span class="metaText">no previous vote</span>
  </div>
</div>
<script type="text/javascript">
  Room.instance = new Room(<%= %["#{room_name}"] %>);
</script>
