@import "nib"

$darkGray = #888
$textColor = #444
$offWhite = #fcfcfc
$lightBlue = #a3a3f9
$lightYellow = #f3de88
$lightGreen = #ccfecc

*
  margin 0
  padding 0

body
  text-align center
  background-color $darkGray
  font 16px Helvetica, Arial, sans-serif
  color $textColor
  -webkit-font-smoothing antialiased
  width 100%
  height 100%

a
  color $textColor
  &:visited { color: $textColor }

#container
  max-width 500px
  margin 0 auto

#header
  background-color $lightBlue
  padding 5px 10px
  .loginName
    padding-top 12px
    float left
  #title
    font 36px Garamond, "Time New Roman", serif
    font-variant small-caps
  .logout
    padding-top 12px
    float right

#container
  div.section
    background-color $offWhite
    padding 5px 10px
    margin-bottom 10px
    box-shadow 0px 3px 0px darken($darkGray, 40%)

#loginBox
  padding 10px
  form
    margin-top 10px
    input, button
      font-size 16px
      padding 5px
    input
      border 2px solid $darkGray
      outline 0

#newRoom
  form
    margin-top 10px
    input, button
      font-size 16px
      padding 5px
    input
      border 2px solid $darkGray
      outline 0

#roomList
  ul
    text-align center
    margin-top 5px
    list-style-type none
    li
      margin 5px auto
      padding 5px
      background-color $lightBlue
      width 75%
      border-radius(5px)

h4
  font-size 22px
  font-weight bold
  text-align center

#roomHeader { text-align: center }

#backLink
  padding-top 8px
  float left

#roomName
  font 28px Garamond, "Time New Roman", serif
  font-variant small-caps

#reset
  padding-top 8px
  float right

#choices
  text-align center
  margin 5px
  select
    font-size 16px
    padding 5px

.metaText
  margin 5px
  text-align center
  font-style italic

#currentVotes
  text-align center
  table
    border-collapse separate
    border-spacing 0px 5px
    margin 5px auto
    width 75%
    td { padding: 5px }
    td.user
      text-align left
      border-radius: left 5px
    td.vote
      width 30px
      text-align center
      border-radius: right 5px
    tr.hidden
      background-color $lightGreen
      td.vote { font-style: italic }
    tr.notVoted { background-color: $lightYellow }
    tr.currentUser { font-weight: bold }

#voteHistory
  min-height 100px
  #result
    margin-top 5px
    table
      width 100%
      border-collapse collapse
      td { padding: 0 5px }
      td.metric
        width 50%
        text-align right
        border-right 1px solid black
      td.value { text-align: left }
